<footer>
  <hr />
  <p id="social">
    Find me around the web:
    <br />
    {{ range first 1 .Site.Params.social }}
      <a href="{{ .url }}">{{ .name }}</a>
    {{ end }}
    {{ range after 1 .Site.Params.social }}
      |
      <a href="{{ .url }}">{{ .name }}</a>
    {{ end }}
  </p>
  <p class="copyright">
    Copyright © {{ now.Format "2006"}}
    <a href="{{ .Site.BaseURL }}"><strong>{{ .Site.Params.Author }}</strong></a>.
    This work is licensed under the
    <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> license.
  </p>
  <p class="builtWith">
    Built with
    <a href="http://www.gohugo.io/">Hugo</a>,
    using the theme
    <a href="https://gitlab.com/ian-s-mcb/smigle-hugo-theme">smigle</a>,
    which was influenced by the theme
    <a href="https://github.com/sumnerevans/smol">smol</a>.
  </p>
</footer>
